<html>
  <head>
  </head>
  <body>
	
	<form action="/stream" method="POST">
		<h2> Camera 1 detection type </h2>   
		<input type="radio" name="cam1" id="motion1" value="motion" checked> Motion Detection </input><br>
		<input type="radio" name="cam1" id="face1" value="face"> Face Detection </input>
		<h2> Camera 2 detection type </h2>
		<input type="radio" name="cam2" id="motion2" value="motion"> Motion Detection </input><br>
		<input type="radio" name="cam2" id="face2" value="face" checked> Face Detection </input><br>
		<input type="submit" value="Submit">
	</form>
    <hr>
  </body>
</html>